$colorTitle: rgb(113, 18, 168);
$pixels: 30px;
$boxShadow: 0px 2px 2px black;

@mixin titles {
    font-size: 30px;
    color: $colorTitle;
    text-shadow: 0px 1px 2px black;
}

@mixin carousel {
    font-family: 'Mukta', sans-serif;
    color: black;
}

@mixin titleCarousel {
    background-color: aliceblue;
    border-radius: 50px;
    width: 400px;
    margin: 0 auto;
}

@mixin paraCarousel {
    background-color: aliceblue;
    border-radius:50px;
}

@mixin light-theme {
    body {
        background-color: white;
    }
}

@mixin dark-theme {
    body {
        background-color: rgb(60, 55, 55);

        input[type=checkbox] {
            height: 0;
            width: 0;
            visibility: hidden;
        }
    }
}

@mixin theme-color ($light-theme: true) {
    @if $light-theme {
        @include light-theme;
    }@else {
        @include dark-theme;
    }
}
    